* {
    box-sizing: border-box;
  }

html {
  height: 100%;
}

body {
  min-height: 100vh; 
  background-color: #1d1d1d;
}
.experiencetext1{
    color: white;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: .4rem;
    background-color: rgb(139, 139, 139);
    top: 0;
    bottom: 5%;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
    border-radius: .5rem;
  }

.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #266730;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

.left {
    left: 0;
  }
  
.right {
    left: 50%;
  }
  
.right::after {
    left: -16px;
}
  
.content {
    padding: 20px 30px;
    background-color: rgb(197, 197, 197);
    position: relative;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}


.companytitle{
    font-size: .8rem;
    font-style: italic;
}

@media screen and (max-width: 768px) {

  html, body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
    overscroll-behavior-y: none;
  
  } 

  .timeline::after {
    left: 20px; 
    margin-top: 4rem; 
  }

  .container {
    width: 100%;
    padding-left: 50px; 
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .container::after {
    left: 4px;
    transform: none;
    margin-top: 5rem;
  }

  .left, .right {
    left: 0; 
  }

  .tech-icons {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    right: 3%; 
  }

  .container:first-of-type {
    margin-top: 2rem;
  }

  .container:last-of-type {
    margin-bottom: 2rem;
  }
}

.tech-icons {
  position: absolute;
  right: 5%; 
  top: 18%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tech-icon, 
.tech-icon2 {
  width: 20%; 
  min-width: 40px; 
  max-width: 80px; 
  height: auto; 
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(4, 2, 92);
}

.tech-icon2 {
  background-color: rgb(255, 249, 249);
  border-radius: 50%;
}