body, html{
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

#root, .App{
    min-height: 100vh;
    overflow-x: hidden;
}

.text1{
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 2rem;
}

.text2{
    color: white;
    word-wrap: break-word;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    
}
.text3{
    color: white; 
    position: relative;
    max-width: 1200px;
    margin: 0 auto 4rem auto;
    padding-top: 3rem;
}

.logos{
    overflow: hidden; 
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
    margin-bottom: 2rem;    
}

.logo-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logo-slide img {
    height: 60px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos:hover .logo-track {
    animation-play-state: paused;
}

.logo-description{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
    color: white;
    font-size: 0.9rem;
    text-align:center
}

.logo-description img{
    height: 60px;
    margin-bottom: 0.5rem;
}


.home-container{
    width: 100%;
    min-height: 100vh;
    
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 4rem;
  }